body{
    background-color: gray;
}

div{
    font-size: 3em;
    background-color: antiquewhite;
    border: 10px solid lightsteelblue;
    margin: 50px;
    padding: 20px;
}

h1{
    color: darkcyan;
}
h3{
    color:coral;
}
